/* numbers by http://getbootstrap.com/css/#grid-options */
@media (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 400px;
  }
}

a.discreet {
  color: inherit;
  text-decoration: underline;
}

.center-block{
    float: none;
    margin: 0 auto;
}

section {
  padding-top: 0em;
  padding-bottom: 3em;
}

.container .social a.btn i.fa {
  font-size: 400%;
}

.container .social a.btn img {
  height: 4em;
}

.container .social a.btn {
  margin: 1em;
  border: none
}

.container .streaming a.btn i.fa {
  font-size: 400%;
}

.container .streaming a.btn {
  margin: .5em;
  border: none
}

.img-center {
  margin: 0 auto;
}

body {
  background-color: #000;
}

#press-kit-embedd {
  width:100%;
  height: 30em;
  border: 0;
  background-color: rgba(255, 255, 255, 0.75);
}
